#
# {{ ansible_managed }}
#

{% for item in sssd_domain %}
[ domain/{{ item.name }}]
{{ item.domain_type | default("") -}}
{{ item.min_id | default("") -}}
{{ item.max_id | default("") -}}
{{ item.enumerate | default("") -}}
{{ item.subdomain_enumerate | default("") -}}
{{ item.entry_cache_timeout | default("") -}}
{{ item.entry_cache_user_timeout | default("") -}}
{{ item.entry_cache_group_timeout | default("") -}}
{{ item.entry_cache_netgroup_timeout | default("") -}}
{{ item.entry_cache_service_timeout | default("") -}}
{{ item.entry_cache_sudo_timeout | default("") -}}
{{ item.entry_cache_autofs_timeout | default("") -}}
{{ item.entry_cache_ssh_host_timeout | default("") -}}
{{ item.refresh_expired_interval | default("") -}}
{{ item.cache_credentials | default("") -}}
{{ item.cache_credentials_minimal_first_factor_length | default("") -}}
{{ item.account_cache_expiration | default("") -}}
{{ item.pwd_expiration_warning | default("") -}}
{{ item.id_provider | default("") -}}
{{ item.use_fully_qualified_names | default("") -}}
{{ item.ignore_group_members | default("") -}}
{{ item.auth_provider | default("") -}}
{{ item.access_provider | default("") -}}
{{ item.chpass_provider | default("") -}}
{{ item.sudo_provider | default("") -}}
{{ item.selinux_provider | default("") -}}
{{ item.subdomains_provider | default("") -}}
{{ item.session_provider | default("") -}}
{{ item.autofs_provider | default("") -}}
{{ item.hostid_provider | default("") -}}
{{ item.re_expression | default("") -}}
{{ item.full_name_format | default("") -}}
{{ item.lookup_family_order | default("") -}}
{{ item.dns_resolver_timeout | default("") -}}
{{ item.dns_discovery_domain | default("") -}}
{{ item.override_gid | default("") -}}
{{ item.case_sensitive | default("") -}}
{{ item.subdomain_inherit | default("") -}}
{{ item.subdomain_homedir | default("") -}}
{{ item.realmd_tags | default("") -}}
{{ item.cached_auth_timeout | default("") -}}
{{ item.proxy_pam_target | default("") -}}
{{ item.proxy_lib_name | default("") -}}
{{ item.proxy_fast_alias | default("") -}}
{{ item.proxy_max_children | default("") -}}
{{ item.ad_domain | default("") -}}
{{ item.ad_enabled_domains | default("") -}}
{{ item.ad_server | default("") -}}
{{ item.ad_backup_server | default("") -}}
{{ item.ad_hostname | default("") -}}
{{ item.ad_enable_dns_sites | default("") -}}
{{ item.ad_access_filter | default("") -}}
{{ item.ad_site | default("") -}}
{{ item.ad_enable_gc | default("") -}}
{{ item.ad_gpo_access_control | default("") -}}
{{ item.ad_gpo_cache_timeout | default("") -}}
{{ item.ad_gpo_map_interactive | default("") -}}
{{ item.ad_gpo_map_remote_interactive | default("") -}}
{{ item.ad_gpo_map_network | default("") -}}
{{ item.ad_gpo_map_batch | default("") -}}
{{ item.ad_gpo_map_service | default("") -}}
{{ item.ad_gpo_map_permit | default("") -}}
{{ item.ad_gpo_map_deny | default("") -}}
{{ item.ad_gpo_default_right | default("") -}}
{{ item.ad_maximum_machine_account_password_age | default("") -}}
{{ item.ad_machine_account_password_renewal_opts | default("") -}}
{{ item.dyndns_update | default("") -}}
{{ item.dyndns_ttl | default("") -}}
{{ item.dyndns_iface | default("") -}}
{{ item.dyndns_refresh_interval | default("") -}}
{{ item.dyndns_update_ptr | default("") -}}
{{ item.dyndns_force_tcp | default("") -}}
{{ item.dyndns_auth | default("") -}}
{{ item.dyndns_server | default("") -}}
{{ item.override_homedir | default("") -}}
{{ item.homedir_substring | default("") -}}
{{ item.krb5_confd_path | default("") -}}
{{ item.default_shell | default("") -}}
{{ item.base_directory | default("") -}}
{{ item.create_homedir | default("") -}}
{{ item.remove_homedir | default("") -}}
{{ item.homedir_umask | default("") -}}
{{ item.skel_dir | default("") -}}
{{ item.mail_dir | default("") -}}
{{ item.userdel_cmd | default("") -}}
{{ item.simple_allow_users | default("") -}}
{{ item.simple_deny_users | default("") -}}
{{ item.simple_allow_groups | default("") -}}
{{ item.simple_deny_groups | default("") -}}
{{ item.krb5_server | default("") -}}
{{ item.krb5_backup_server | default("") -}}
{{ item.krb5_realm | default("") -}}
{{ item.krb5_kpasswd | default("") -}}
{{ item.krb5_backup_kpasswd | default("") -}}
{{ item.krb5_ccachedir | default("") -}}
{{ item.krb5_ccname_template | default("") -}}
{{ item.krb5_auth_timeout | default("") -}}
{{ item.krb5_validate | default("") -}}
{{ item.krb5_keytab | default("") -}}
{{ item.krb5_store_password_if_offline | default("") -}}
{{ item.krb5_renewable_lifetime | default("") -}}
{{ item.krb5_lifetime | default("") -}}
{{ item.krb5_renew_interval | default("") -}}
{{ item.krb5_use_fast | default("") -}}
{{ item.krb5_fast_principal | default("") -}}
{{ item.krb5_canonicalize | default("") -}}
{{ item.krb5_use_kdcinfo | default("") -}}
{{ item.krb5_use_enterprise_principal | default("") -}}
{{ item.krb5_map_user | default("") -}}
{{ item.ldap_uri | default("") -}}
{{ item.ldap_backup_uri | default("") -}}
{{ item.ldap_chpass_uri | default("") -}}
{{ item.ldap_chpass_backup_uri | default("") -}}
{{ item.ldap_search_base | default("") -}}
{{ item.ldap_schema | default("") -}}
{{ item.ldap_default_bind_dn | default("") -}}
{{ item.ldap_default_authtok_type | default("") -}}
{{ item.ldap_default_authtok | default("") -}}
{{ item.ldap_user_object_class | default("") -}}
{{ item.ldap_user_name | default("") -}}
{{ item.ldap_user_uid_number | default("") -}}
{{ item.ldap_user_gid_number | default("") -}}
{{ item.ldap_user_primary_group | default("") -}}
{{ item.ldap_user_gecos | default("") -}}
{{ item.ldap_user_home_directory | default("") -}}
{{ item.ldap_user_shell | default("") -}}
{{ item.ldap_user_uuid | default("") -}}
{{ item.ldap_user_objectsid | default("") -}}
{{ item.ldap_user_modify_timestamp | default("") -}}
{{ item.ldap_user_shadow_last_change | default("") -}}
{{ item.ldap_user_shadow_min | default("") -}}
{{ item.ldap_user_shadow_max | default("") -}}
{{ item.ldap_user_shadow_warning | default("") -}}
{{ item.ldap_user_shadow_inactive | default("") -}}
{{ item.ldap_user_shadow_expire | default("") -}}
{{ item.ldap_user_krb_last_pwd_change | default("") -}}
{{ item.ldap_user_krb_password_expiration | default("") -}}
{{ item.ldap_user_ad_account_expires | default("") -}}
{{ item.ldap_user_ad_user_account_control | default("") -}}
{{ item.ldap_ns_account_lock | default("") -}}
{{ item.ldap_user_nds_login_disabled | default("") -}}
{{ item.ldap_user_nds_login_exipration_time | default("") -}}
{{ item.ldap_user_nds_login_allowed_time_map | default("") -}}
{{ item.ldap_user_principal | default("") -}}
{{ item.ldap_user_extra_attrs | default("") -}}
{{ item.ldap_user_ssh_public_key | default("") -}}
{{ item.ldap_force_upper_case_realm | default("") -}}
{{ item.ldap_enumeration_refresh_timeout | default("") -}}
{{ item.ldap_purge_cache_timeout | default("") -}}
{{ item.ldap_user_fullname | default("") -}}
{{ item.ldap_user_member_of | default("") -}}
{{ item.ldap_user_authorized_service | default("") -}}
{{ item.ldap_user_authorized_host | default("") -}}
{{ item.ldap_user_certificate | default("") -}}
{{ item.ldap_user_email | default("") -}}
{{ item.ldap_group_object_class | default("") -}}
{{ item.ldap_group_name | default("") -}}
{{ item.ldap_group_gid_number | default("") -}}
{{ item.ldap_group_member | default("") -}}
{{ item.ldap_group_uuid | default("") -}}
{{ item.ldap_group_objectsid | default("") -}}
{{ item.ldap_group_modify_timestamp | default("") -}}
{{ item.ldap_group_type | default("") -}}
{{ item.ldap_group_external_member | default("") -}}
{{ item.ldap_group_nesting_level | default("") -}}
{{ item.ldap_groups_use_matching_rule_in_chain | default("") -}}

{% endfor %}