{% from 'macros/macros.j2' import body_section_option with context -%}
{{ ansible_managed | comment }}

[sssd]
{{ body_section_option("sssd", "config_file_version", sssd_sssd_config_file_version) -}} 
{{ body_section_option("sssd", "services", sssd_sssd_services) -}} 
{{ body_section_option("sssd", "reconnection_retires", sssd_sssd_reconnection_retires) -}} 
{{ body_section_option("sssd", "domains", sssd_sssd_domains) -}} 
{{ body_section_option("sssd", "re_expression", sssd_sssd_re_expression) -}} 
{{ body_section_option("sssd", "full_name_format", sssd_sssd_full_name_format) -}} 
{{ body_section_option("sssd", "try_inotify", sssd_sssd_try_inotify) -}} 
{{ body_section_option("sssd", "krb5_rcache_dir", sssd_sssd_krb5_rcache_dir) -}} 
{{ body_section_option("sssd", "user", sssd_sssd_user) -}} 
{{ body_section_option("sssd", "default_domain_suffix", sssd_sssd_default_domain_suffix) -}} 
{{ body_section_option("sssd", "override_space", sssd_sssd_override_space) -}} 
{{ body_section_option("sssd", "certificate_verification", sssd_sssd_certificate_verification) -}} 
{{ body_section_option("sssd", "disable_netlink", sssd_sssd_disable_netlink) -}} 
{{ body_section_option("sssd", "enable_files_domain", sssd_sssd_enable_files_domain) -}} 
{{ body_section_option("sssd", "domain_resolution_order", sssd_sssd_domain_resolution_order) -}} 

[nss]
{{ body_section_option("nss", "reconnection_retries", sssd_nss_reconnection_retries) -}}
{{ body_section_option("nss", "fd_limit", sssd_nss_fd_limit) -}}
{{ body_section_option("nss", "client_idle_timeout", sssd_nss_client_idle_timeout) -}}
{{ body_section_option("nss", "offline_timeout", sssd_nss_offline_timeout) -}}
{{ body_section_option("nss", "responder_idle_timeout", sssd_nss_responder_idle_timeout) -}}
{{ body_section_option("nss", "cache_first", sssd_nss_cache_first) -}}
{{ body_section_option("nss", "enum_cache_timeout", sssd_nss_enum_cache_timeout) -}}
{{ body_section_option("nss", "entry_cache_nowait_percentage", sssd_nss_entry_cache_nowait_percentage) -}}
{{ body_section_option("nss", "entry_negative_timeout", sssd_nss_entry_negative_timeout) -}}
{{ body_section_option("nss", "local_negative_timeout", sssd_nss_local_negative_timeout) -}}
{{ body_section_option("nss", "filter_users", sssd_nss_filter_users) -}}
{{ body_section_option("nss", "filter_groups", sssd_nss_filter_groups) -}}
{{ body_section_option("nss", "filter_users_in_groups", sssd_nss_filter_users_in_groups) -}}
{{ body_section_option("nss", "override_homedir", sssd_nss_override_homedir) -}}
{{ body_section_option("nss", "homedir_substring", sssd_nss_homedir_substring) -}}
{{ body_section_option("nss", "fallback_homedir", sssd_nss_fallback_homedir) -}}
{{ body_section_option("nss", "override_shell", sssd_nss_override_shell) -}}
{{ body_section_option("nss", "allowed_shells", sssd_nss_allowed_shells) -}}
{{ body_section_option("nss", "vetoed_shells", sssd_nss_vetoed_shells) -}}
{{ body_section_option("nss", "shell_fallback", sssd_nss_shell_fallback) -}}
{{ body_section_option("nss", "default_shell", sssd_nss_default_shell) -}}
{{ body_section_option("nss", "get_domains_timeout", sssd_nss_get_domains_timeout) -}}
{{ body_section_option("nss", "memcache_timeout", sssd_nss_memcache_timeout) -}}
{{ body_section_option("nss", "user_attributes", sssd_nss_user_attributes) -}}
{{ body_section_option("nss", "pwfield", sssd_nss_pwfield) -}}

[pam]
{{ body_section_option("pam", "reconnection_retries", sssd_pam_reconnection_retries) -}}
{{ body_section_option("pam", "fd_limit", sssd_pam_fd_limit) -}}
{{ body_section_option("pam", "client_idle_timeout", sssd_pam_client_idle_timeout) -}}
{{ body_section_option("pam", "offline_timeout", sssd_pam_offline_timeout) -}}
{{ body_section_option("pam", "responder_idle_timeout", sssd_pam_responder_idle_timeout) -}}
{{ body_section_option("pam", "cache_first", sssd_pam_cache_first) -}}
{{ body_section_option("pam", "offline_credentials_expiration", sssd_pam_offline_credentials_expiration) -}}
{{ body_section_option("pam", "offline_failed_login_attempts", sssd_pam_offline_failed_login_attempts) -}}
{{ body_section_option("pam", "offline_failed_login_delay", sssd_pam_offline_failed_login_delay) -}}
{{ body_section_option("pam", "pam_verbosity", sssd_pam_pam_verbosity) -}}
{{ body_section_option("pam", "pam_response_filter", sssd_pam_pam_response_filter) -}}
{{ body_section_option("pam", "pam_id_timeout", sssd_pam_pam_id_timeout) -}}
{{ body_section_option("pam", "pam_pwd_expiration_warning", sssd_pam_pam_pwd_expiration_warning) -}}
{{ body_section_option("pam", "get_domains_timeout", sssd_pam_get_domains_timeout) -}}
{{ body_section_option("pam", "pam_trusted_users", sssd_pam_pam_trusted_users) -}}
{{ body_section_option("pam", "pam_public_domains", sssd_pam_pam_public_domains) -}}
{{ body_section_option("pam", "pam_account_expired_message", sssd_pam_pam_account_expired_message) -}}
{{ body_section_option("pam", "pam_account_locked_message", sssd_pam_pam_account_locked_message) -}}
{{ body_section_option("pam", "pam_cert_auth", sssd_pam_pam_cert_auth) -}}
{{ body_section_option("pam", "pam_cert_db_path", sssd_pam_pam_cert_db_path) -}}
{{ body_section_option("pam", "p11_child_timeout", sssd_pam_p11_child_timeout) -}}
{{ body_section_option("pam", "pam_app_services", sssd_pam_pam_app_services) -}}
 
[sudo]
{{ body_section_option("sudo", "reconnection_retries", sssd_sudo_reconnection_retries) -}}
{{ body_section_option("sudo", "fd_limit", sssd_sudo_fd_limit) -}}
{{ body_section_option("sudo", "client_idle_timeout", sssd_sudo_client_idle_timeout) -}}
{{ body_section_option("sudo", "offline_timeout", sssd_sudo_offline_timeout) -}}
{{ body_section_option("sudo", "responder_idle_timeout", sssd_sudo_responder_idle_timeout) -}}
{{ body_section_option("sudo", "cache_first", sssd_sudo_cache_first) -}}
{{ body_section_option("sudo", "sudo_timed", sssd_sudo_sudo_timed) -}}
{{ body_section_option("sudo", "sudo_threshold", sssd_sudo_sudo_threshold) -}}
 
[autofs]
{{ body_section_option("autofs", "reconnection_retries", sssd_autofs_reconnection_retries) -}}
{{ body_section_option("autofs", "fd_limit", sssd_autofs_fd_limit) -}}
{{ body_section_option("autofs", "client_idle_timeout", sssd_autofs_client_idle_timeout) -}}
{{ body_section_option("autofs", "offline_timeout", sssd_autofs_offline_timeout) -}}
{{ body_section_option("autofs", "responder_idle_timeout", sssd_autofs_responder_idle_timeout) -}}
{{ body_section_option("autofs", "cache_first", sssd_autofs_cache_first) -}}
{{ body_section_option("autofs", "autofs_negative_timeout", sssd_autofs_autofs_negative_timeout) -}}
 
[ssh]
{{ body_section_option("ssh", "reconnection_retries", sssd_ssh_reconnection_retries) -}}
{{ body_section_option("ssh", "fd_limit", sssd_ssh_fd_limit) -}}
{{ body_section_option("ssh", "client_idle_timeout", sssd_ssh_client_idle_timeout) -}}
{{ body_section_option("ssh", "offline_timeout", sssd_ssh_offline_timeout) -}}
{{ body_section_option("ssh", "responder_idle_timeout", sssd_ssh_responder_idle_timeout) -}}
{{ body_section_option("ssh", "cache_first", sssd_ssh_cache_first) -}}
{{ body_section_option("ssh", "ssh_hash_known_hosts", sssd_ssh_ssh_hash_known_hosts) -}}
{{ body_section_option("ssh", "ssh_known_hosts_timeout", sssd_ssh_ssh_known_hosts_timeout) -}}
{{ body_section_option("ssh", "ca_db", sssd_ssh_ca_db) -}}

[pac]
{{ body_section_option("pac", "reconnection_retries", sssd_pac_reconnection_retries) -}}
{{ body_section_option("pac", "fd_limit", sssd_pac_fd_limit) -}}
{{ body_section_option("pac", "client_idle_timeout", sssd_pac_client_idle_timeout) -}}
{{ body_section_option("pac", "offline_timeout", sssd_pac_offline_timeout) -}}
{{ body_section_option("pac", "responder_idle_timeout", sssd_pac_responder_idle_timeout) -}}
{{ body_section_option("pac", "cache_first", sssd_pac_cache_first) -}}
{{ body_section_option("pac", "allowed_uids", sssd_pac_allowed_uids) -}}
{{ body_section_option("pac", "pac_lifetime", sssd_pac_pac_lifetime) -}}

[session_recording]
{{ body_section_option("session_recording", "reconnection_retries", sssd_session_recording_reconnection_retries) -}}
{{ body_section_option("session_recording", "fd_limit", sssd_session_recording_fd_limit) -}}
{{ body_section_option("session_recording", "client_idle_timeout", sssd_session_recording_client_idle_timeout) -}}
{{ body_section_option("session_recording", "offline_timeout", sssd_session_recording_offline_timeout) -}}
{{ body_section_option("session_recording", "responder_idle_timeout", sssd_session_recording_responder_idle_timeout) -}}
{{ body_section_option("session_recording", "cache_first", sssd_session_recording_cache_first) -}}
{{ body_section_option("session_recording", "scope", sssd_session_recording_scope) -}}
{{ body_section_option("session_recording", "users", sssd_session_recording_users) -}}
{{ body_section_option("session_recording", "groups", sssd_session_recording_groups) -}}

[ifp]
{{ body_section_option("ifp", "reconnection_retries", sssd_ifp_reconnection_retries) -}}
{{ body_section_option("ifp", "fd_limit", sssd_ifp_fd_limit) -}}
{{ body_section_option("ifp", "client_idle_timeout", sssd_ifp_client_idle_timeout) -}}
{{ body_section_option("ifp", "offline_timeout", sssd_ifp_offline_timeout) -}}
{{ body_section_option("ifp", "responder_idle_timeout", sssd_ifp_responder_idle_timeout) -}}
{{ body_section_option("ifp", "cache_first", sssd_ifp_cache_first) -}}

{% for item in sssd_domain %}
[ domain/{{ item.name }}]
{{ item.domain_type | default("") -}}
{{ item.min_id | default("") -}}
{{ item.max_id | default("") -}}
{{ item.enumerate | default("") -}}
{{ item.subdomain_enumerate | default("") -}}
{{ item.entry_cache_timeout | default("") -}}
{{ item.entry_cache_user_timeout | default("") -}}
{{ item.entry_cache_group_timeout | default("") -}}
{{ item.entry_cache_netgroup_timeout | default("") -}}
{{ item.entry_cache_service_timeout | default("") -}}
{{ item.entry_cache_sudo_timeout | default("") -}}
{{ item.entry_cache_autofs_timeout | default("") -}}
{{ item.entry_cache_ssh_host_timeout | default("") -}}
{{ item.refresh_expired_interval | default("") -}}
{{ item.cache_credentials | default("") -}}
{{ item.cache_credentials_minimal_first_factor_length | default("") -}}
{{ item.account_cache_expiration | default("") -}}
{{ item.pwd_expiration_warning | default("") -}}
{{ item.id_provider | default("") -}}
{{ item.use_fully_qualified_names | default("") -}}
{{ item.ignore_group_members | default("") -}}
{{ item.auth_provider | default("") -}}
{{ item.access_provider | default("") -}}
{{ item.chpass_provider | default("") -}}
{{ item.sudo_provider | default("") -}}
{{ item.selinux_provider | default("") -}}
{{ item.subdomains_provider | default("") -}}
{{ item.session_provider | default("") -}}
{{ item.autofs_provider | default("") -}}
{{ item.hostid_provider | default("") -}}
{{ item.re_expression | default("") -}}
{{ item.full_name_format | default("") -}}
{{ item.lookup_family_order | default("") -}}
{{ item.dns_resolver_timeout | default("") -}}
{{ item.dns_discovery_domain | default("") -}}
{{ item.override_gid | default("") -}}
{{ item.case_sensitive | default("") -}}
{{ item.subdomain_inherit | default("") -}}
{{ item.subdomain_homedir | default("") -}}
{{ item.realmd_tags | default("") -}}
{{ item.cached_auth_timeout | default("") -}}
{{ item.proxy_pam_target | default("") -}}
{{ item.proxy_lib_name | default("") -}}
{{ item.proxy_fast_alias | default("") -}}
{{ item.proxy_max_children | default("") -}}
{{ item.ad_domain | default("") -}}
{{ item.ad_enabled_domains | default("") -}}
{{ item.ad_server | default("") -}}
{{ item.ad_backup_server | default("") -}}
{{ item.ad_hostname | default("") -}}
{{ item.ad_enable_dns_sites | default("") -}}
{{ item.ad_access_filter | default("") -}}
{{ item.ad_site | default("") -}}
{{ item.ad_enable_gc | default("") -}}
{{ item.ad_gpo_access_control | default("") -}}
{{ item.ad_gpo_cache_timeout | default("") -}}
{{ item.ad_gpo_map_interactive | default("") -}}
{{ item.ad_gpo_map_remote_interactive | default("") -}}
{{ item.ad_gpo_map_network | default("") -}}
{{ item.ad_gpo_map_batch | default("") -}}
{{ item.ad_gpo_map_service | default("") -}}
{{ item.ad_gpo_map_permit | default("") -}}
{{ item.ad_gpo_map_deny | default("") -}}
{{ item.ad_gpo_default_right | default("") -}}
{{ item.ad_maximum_machine_account_password_age | default("") -}}
{{ item.ad_machine_account_password_renewal_opts | default("") -}}
{{ item.dyndns_update | default("") -}}
{{ item.dyndns_ttl | default("") -}}
{{ item.dyndns_iface | default("") -}}
{{ item.dyndns_refresh_interval | default("") -}}
{{ item.dyndns_update_ptr | default("") -}}
{{ item.dyndns_force_tcp | default("") -}}
{{ item.dyndns_auth | default("") -}}
{{ item.dyndns_server | default("") -}}
{{ item.override_homedir | default("") -}}
{{ item.homedir_substring | default("") -}}
{{ item.krb5_confd_path | default("") -}}
{{ item.default_shell | default("") -}}
{{ item.base_directory | default("") -}}
{{ item.create_homedir | default("") -}}
{{ item.remove_homedir | default("") -}}
{{ item.homedir_umask | default("") -}}
{{ item.skel_dir | default("") -}}
{{ item.mail_dir | default("") -}}
{{ item.userdel_cmd | default("") -}}
{{ item.simple_allow_users | default("") -}}
{{ item.simple_deny_users | default("") -}}
{{ item.simple_allow_groups | default("") -}}
{{ item.simple_deny_groups | default("") -}}
{{ item.krb5_server | default("") -}}
{{ item.krb5_backup_server | default("") -}}
{{ item.krb5_realm | default("") -}}
{{ item.krb5_kpasswd | default("") -}}
{{ item.krb5_backup_kpasswd | default("") -}}
{{ item.krb5_ccachedir | default("") -}}
{{ item.krb5_ccname_template | default("") -}}
{{ item.krb5_auth_timeout | default("") -}}
{{ item.krb5_validate | default("") -}}
{{ item.krb5_keytab | default("") -}}
{{ item.krb5_store_password_if_offline | default("") -}}
{{ item.krb5_renewable_lifetime | default("") -}}
{{ item.krb5_lifetime | default("") -}}
{{ item.krb5_renew_interval | default("") -}}
{{ item.krb5_use_fast | default("") -}}
{{ item.krb5_fast_principal | default("") -}}
{{ item.krb5_canonicalize | default("") -}}
{{ item.krb5_use_kdcinfo | default("") -}}
{{ item.krb5_use_enterprise_principal | default("") -}}
{{ item.krb5_map_user | default("") -}}
{{ item.ldap_uri | default("") -}}
{{ item.ldap_backup_uri | default("") -}}
{{ item.ldap_chpass_uri | default("") -}}
{{ item.ldap_chpass_backup_uri | default("") -}}
{{ item.ldap_search_base | default("") -}}
{{ item.ldap_schema | default("") -}}
{{ item.ldap_default_bind_dn | default("") -}}
{{ item.ldap_default_authtok_type | default("") -}}
{{ item.ldap_default_authtok | default("") -}}
{{ item.ldap_user_object_class | default("") -}}
{{ item.ldap_user_name | default("") -}}
{{ item.ldap_user_uid_number | default("") -}}
{{ item.ldap_user_gid_number | default("") -}}
{{ item.ldap_user_primary_group | default("") -}}
{{ item.ldap_user_gecos | default("") -}}
{{ item.ldap_user_home_directory | default("") -}}
{{ item.ldap_user_shell | default("") -}}
{{ item.ldap_user_uuid | default("") -}}
{{ item.ldap_user_objectsid | default("") -}}
{{ item.ldap_user_modify_timestamp | default("") -}}
{{ item.ldap_user_shadow_last_change | default("") -}}
{{ item.ldap_user_shadow_min | default("") -}}
{{ item.ldap_user_shadow_max | default("") -}}
{{ item.ldap_user_shadow_warning | default("") -}}
{{ item.ldap_user_shadow_inactive | default("") -}}
{{ item.ldap_user_shadow_expire | default("") -}}
{{ item.ldap_user_krb_last_pwd_change | default("") -}}
{{ item.ldap_user_krb_password_expiration | default("") -}}
{{ item.ldap_user_ad_account_expires | default("") -}}
{{ item.ldap_user_ad_user_account_control | default("") -}}
{{ item.ldap_ns_account_lock | default("") -}}
{{ item.ldap_user_nds_login_disabled | default("") -}}
{{ item.ldap_user_nds_login_exipration_time | default("") -}}
{{ item.ldap_user_nds_login_allowed_time_map | default("") -}}
{{ item.ldap_user_principal | default("") -}}
{{ item.ldap_user_extra_attrs | default("") -}}
{{ item.ldap_user_ssh_public_key | default("") -}}
{{ item.ldap_force_upper_case_realm | default("") -}}
{{ item.ldap_enumeration_refresh_timeout | default("") -}}
{{ item.ldap_purge_cache_timeout | default("") -}}
{{ item.ldap_user_fullname | default("") -}}
{{ item.ldap_user_member_of | default("") -}}
{{ item.ldap_user_authorized_service | default("") -}}
{{ item.ldap_user_authorized_host | default("") -}}
{{ item.ldap_user_certificate | default("") -}}
{{ item.ldap_user_email | default("") -}}
{{ item.ldap_group_object_class | default("") -}}
{{ item.ldap_group_name | default("") -}}
{{ item.ldap_group_gid_number | default("") -}}
{{ item.ldap_group_member | default("") -}}
{{ item.ldap_group_uuid | default("") -}}
{{ item.ldap_group_objectsid | default("") -}}
{{ item.ldap_group_modify_timestamp | default("") -}}
{{ item.ldap_group_type | default("") -}}
{{ item.ldap_group_external_member | default("") -}}
{{ item.ldap_group_nesting_level | default("") -}}
{{ item.ldap_groups_use_matching_rule_in_chain | default("") -}}
{% endfor %}